header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.black_head {
    height: 30px;
    width: 100%;
    background-color: black;
}

.black_head img {
    width: 70px;
    height: auto;
}

