header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

.black_head {
    height: 30px;
    width: 100%;
    background-color: black;
}

.black_head img {
    width: 70px;
    height: auto;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin-top: 6px;
}

/* jumbotron */
.jumbo {
    max-height: 450px;
    margin-top: 120px;
}

.jumbo img{
    width: 100%;
    object-fit: contain;
}

.card-img-overlay {
    margin-top: 100px;
    width: 40%;
}

.card-img-overlay img {
    max-width: 200px;
    margin-bottom: 20px;
}

/* slideshow jumbo */
.row .thumb-logo img {
    max-width: 100%;
    border-radius: 15px;
    margin-top: 20px;
}

.ps5 {
    text-align: center;
    margin: 40px 0;
}

.ps5 h6 {
    color: deepskyblue;
    margin-bottom: -5px;
}

.ps5 p {
    margin-top: 10px;
    color: gray;
}

.ps5-logo img {
    max-width: 100%;
}

.ps5_accessories img{
    max-width: 100%;
}

.ps5_accessories {
    text-align: center;
    /* border-bottom: solid 2px blue; */
}

.second_jumbotron {
    background-color: rgb(31, 31, 31);
    color: white;
}

.second_jumbo_container {
    margin: 0;
}

/* second jumbo */
.second_jumbo-card {
    margin-top: 20px;
}

.title_relaese {
    margin: 20px 0;
}
