header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

.black_head {
    height: 30px;
    width: 100%;
    background-color: black;
}

.black_head img {
    width: 70px;
    height: auto;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin-top: 6px;
}

/* jumbotron */
.jumbo {
    margin-top: 120px;
}

/* .jumbo .card img{
    width: 100%;
    object-fit: contain;
} */

.card-img-overlay {
    margin-top: 150px;
    width: 40%;
}

.card-img-overlay img {
    max-width: 200px;
    margin-bottom: 20px;
}

/* slideshow jumbo */
.row .thumb-logo img {
    max-width: 100%;
    border-radius: 15px;
    margin-top: 20px;
}

.ps5 {
    text-align: center;
    margin: 40px 0;
}

.ps5 h6 {
    color: deepskyblue;
    margin-bottom: -5px;
}

.ps5 p {
    margin-top: 10px;
    color: gray;
}

.ps5-logo img {
    max-width: 100%;
}

.ps5_accessories img{
    max-width: 100%;
}

.ps5_accessories {
    text-align: center;
    /* border-bottom: solid 2px blue; */
}

.second_jumbotron {
    background-color: rgb(31, 31, 31);
    color: white;
}

.second_jumbo_container {
    margin: 0;
}

/* second jumbo */
.second_jumbo-card {
    margin-top: 20px;
}

.title_relaese {
    margin: 20px 0;
}

.logo_new_relaese {
    text-align: center;
    margin-bottom: 30px;
}

.logo_new_relaese img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* ps4 section */
.ps4_title {
    margin: 40px 0;
    text-align: center;
}

.ps4_title h4 {
    color: grey;
}

.card_ps4 {
    margin-bottom: 30px;
}

.card_ps4 h5 {
    color: grey;
}

.card_ps4 img {
    width: 100%;
}

/* ps4 plus */
.bg_ps4 {
    background-color: rgb(190, 188, 187);
    max-height: 400px;
}

.logo_games_ps4 {
    width: 100%;
    /* max-height: 400px;
    object-fit: contain; */
}

.desc_ps4_plus {
    margin-left: 40px;
}

.desc_ps4_plus img {
    max-width: 400px;
}

.desc_ps4_plus h6 {
    margin: 30px 0;
}

.desc_ps4_plus .btn-primary {
    border: none;
    color: blue;
    background-color: lightgray;
    border-radius: 20px;
}

/* news playstation store */
.section_title {
    text-align: center;
    margin-top: 40px;
}

.section_title h6 {
    color: grey;
    margin: 30px 0;
}

.news_logo img {
    width: 100%;
    margin-bottom: 30px;
}

/* playstation now section */
.bg_ps_now {
    background-color: rgb(22, 28, 59);
    color: white;
}

.bg_ps_now .btn-primary {
    color: black;
    background-color: white;
}

/* social media */
.logo_social img  {
    width: 100%;
}